
body {
    background-image: url(../images/background.jpg);
    margin: 0;

}

.container {
    margin-top: 20px;
    
}

.header-content {
    
    margin-top: 20px;
    height: 80px;
    margin-bottom: 20px;
    
    
    
}

.header-head {
    
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 15px;
    color: rgb(14, 80, 20);
    /* z-index: 10; */

    
}

#starter-button {
    margin: 2px 6px 2px 6px;
    width: 180px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.success-btn {
    background-color: blueviolet;
    border: 0;
}

.danger-btn {
    background-color: rgb(201, 73, 194);
    border: 0;
}

/* -------------------------------------------------------- */

.start-btn {
    margin: 0 auto;
    width: 280px;
    height: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;

}



h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.main-game-container {

    height: 420px;

    background-color: rgb(43, 13, 177);
    border-radius: 15px;
    
    overflow: none;


}

.spaced-row {
    
    height: 60px;
    
}


.game-content {

    height: 400px;
    border-radius: 10px;
    margin: 10px -5px 0px -5px;
    background-color: rgb(248, 230, 209);
    


}

span {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.text-centered {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

@media screen and (max-width: 424px) {

    .spaced-row {
    
        height: 140px;
        
    }


}

