
body {
    background-image: url(../images/background.jpg);
    margin: 0;

}

.container {
    margin-top: 20px;
    overflow: none;
}

.header-content {
    margin-top: 20px;
    height: 80px;
    
    
}

.header-head {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 15px;
    /* z-index: 10; */

    
}

#starter-button {
    margin: 2px 6px 2px 6px;
    width: 180px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.success-btn {
    background-color: blueviolet;
    border: 0;
}

.danger-btn {
    background-color: rgb(201, 73, 194);
    border: 0;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.main-game-container {

    
    
    height: 400px;
    background-color: rgb(43, 13, 177);
    border-radius: 15px;
    margin-top: 5px;

    

}

.game-content {

    

}


